body {
  min-height: 200vh;
  font: "Roboto", "Helvetica", sans-serif;
}

.spread {
  letter-spacing: 2px;
}

nav {
  padding-left: 3%;
}

#footpath {
  opacity: 0.5;
}

.copper {
  color: #cf9789;
}

.hunter {
  background-color: #455435;
}

.name {
  font-size: x-large;
  font-family: sans-serif;
}

.parallax-container {
  height: 350px;
}

.profile {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.pl-4 {
  padding-left: 5%;
}

.pt-4 {
  padding-top: 25%;
}

p {
  padding-right: 4%;
}